.job-detail-page {
  @mixin h1-large {
    font-size: 51px;
    line-height: 63px;
  }
  @mixin p-large {
    font-size: 21px;
    line-height: 28px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  h1.title {
    @include h1-large;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: #212121;
    line-height: 63px;
    text-align: center;
  }
  p {
    @include p-large;
    font-family: SourceHanSansCN-Normal, SourceHanSansCN;
    font-weight: 400;
    color: #212121;
  }
  // 背景图
  .bg-section {
    text-align: center;
    position: relative;
    padding: 0;
    h1 {
      width: 100%;
      position: absolute;
      top: 150px;
    }
    p {
      width: 100%;
      position: absolute;
      top: 240px;
    }
  }
  // 招聘列表
  .job-detail-section {
    padding: 45px 0;
  }
}
