.product-3 {
  @mixin h2-x-large {
    font-size: 48px;
    line-height: 76px;
  }
  @mixin h2-large {
    font-size: 36px;
    line-height: 48px;
  }
  @mixin h2-mid {
    font-size: 24px;
    line-height: 36px;
  }
  @mixin h2-small {
    font-size: 1.5rem;
    line-height: 32px;
  }
  @mixin color-text-large {
    font-size: 120px;
    line-height: 150px;
  }
  @mixin color-text-mid {
    font-size: 80px;
    line-height: 100px;
  }
  @mixin color-text-small {
    font-size: 2.25rem;
    line-height: 60px;
  }
  @mixin h3-x-large {
    font-size: 32px;
    line-height: 48px;
  }
  @mixin h3-large {
    font-size: 24px;
    line-height: 32px;
  }
  @mixin h3-mid {
    font-size: 18px;
    line-height: 24px;
  }
  @mixin h3-small {
    font-size: 1rem;
    line-height: 24px;
  }
  @mixin p-x-large {
    font-size: 24px;
    line-height: 24px;
  }
  @mixin p-large {
    font-size: 18px;
    line-height: 18px;
  }
  padding-top: 68px;
  .header {
    background-color: #ffffff;
  }
  h2.title {
    @include h2-large;
    font-weight: 400;
    color: #212121;
    text-align: center;
    margin-bottom: 40px;
  }
  h3.title {
    @include h3-large;
    font-weight: 400;
    color: #212112;
  }
  img {
    width: 100%;
    height: 100%;
  }
  // 认证平台
  .platform-section {
    padding: 60px 0;
    aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        @include h2-large;
        font-weight: 400;
        color: #212121;
        margin-bottom: 20px;
        z-index: 1;
      }
      h3 {
        @include h3-large;
        font-weight: 500;
        color: #212121;
        margin-bottom: 16px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: #212121;
        line-height: 28px;
        margin-bottom: 20px;
        text-align: justify;
      }
    }
    .row {
      .col-md-6 {
        padding-right: 0;
      }
    }
    .img-wrap {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  // 核心优势
  .advantage-section {
    padding: 70px 0 50px;
    background-color: #f7f9fa;
    .col-md-4 {
      padding: 0 8%;
    }
    article {
      .advantage-img {
        display: block;
        height: 115px;
        width: auto;
        img {
          height: 100%;
          width: auto;
        }
      }
      margin-bottom: 40px;
      h2 {
        font-size: 16px;
        font-weight: 500;
        color: #212121;
        line-height: 28px;
        margin: 8px 0 16px;
      }
      p.desc {
        font-size: 14px;
        font-weight: 400;
        color: #ababab;
        line-height: 28px;
        text-align: justify;
        a {
          color: #003ce7;
        }
      }
    }
  }
  // 指纹身份认证在线服务
  .service-section {
    padding: 70px 0 50px;
    h2.title {
      margin-bottom: 12px;
    }
    h3.title {
      text-align: center;
      margin-bottom: 20px;
      padding: 0 20px;
    }
    .row {
      position: relative;
      padding: 120px 0;
      aside {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        h2 {
          font-size: 53px;
          font-weight: 800;
          color: #212121;
          line-height: 53px;
          // background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
          margin-bottom: 16px;
        }
        h3 {
          @include h3-large;
          font-weight: 500;
          color: #212121;
          margin-bottom: 40px;
        }
        p {
          font-size: 15px;
          font-weight: 400;
          color: #212121;
          line-height: 28px;
          margin-bottom: 20px;
        }
      }
      .service-nav {
        display: flex;
        z-index: 9;
        margin-top: 40px;
        margin-bottom: 20px;
        li {
          cursor: pointer;
          margin-right: 14px;
          border-bottom: 1px solid #cccccc;
          padding: 4px;
          p {
            visibility: hidden;
            font-size: 35px;
            font-family: Oswald-Medium, Oswald;
            font-weight: 500;
            color: #ababab;
            line-height: 35px;
            margin-bottom: 0;
          }
          &.active {
            p {
              visibility: visible;
            }
          }
        }
      }
      .row {
        .col-md-6 {
          padding-right: 0;
        }
      }
    }
  }
  // 应用场景
  .application-section {
    padding: 70px 0 100px;
    background-color: #f7f9fa;
    .application-wrap {
      margin-bottom: 20px;
      img {
        width: 100%;
        height: auto;
      }
      p {
        margin-top: 30px;
        font-size: 20px;
        font-weight: bold;
        color: #212121;
        line-height: 20px;
        text-align: center;
      }
    }
  }
  //
  .color-text-img {
    height: 50px;
    width: auto;
    margin-bottom: 40px;
  }
  @media (min-width: 1920px) {
    h2.title {
      @include h2-x-large;
      margin-bottom: 20px;
    }
    h3.title {
      @include h3-x-large;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 1199px) {
    padding-top: 48px;
    h2.title {
      @include h2-mid;
      margin-bottom: 20px;
    }
    h3.title {
      @include h3-mid;
      margin-bottom: 20px;
    }
    .platform-section,
    .advantage-section,
    .service-section {
      aside {
        h2 {
          @include h2-mid;
          margin-bottom: 20px;
        }
        h3 {
          @include h3-mid;
          margin-bottom: 20px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    .application-section {
      .application-wrap {
        padding-bottom: 60px;
      }
    }
    .color-text-img {
      height: 40px;
    }
  }
  @media (max-width: 500px) {
    h2.title {
      @include h2-small;
      margin-bottom: 30px;
      text-align: left;
      font-weight: bold;
      .sub {
        font-size: 0.875rem;
      }
    }
    h3.title {
      @include h3-small;
      margin-bottom: 10px;
    }
    aside {
      p {
        font-size: 0.75rem;
      }
    }
    .platform-section,
    .advantage-section,
    .service-section,
    .application-section {
      padding: 40px 0;
      aside {
        h2 {
          @include h2-small;
          margin-bottom: 20px;
          font-weight: bold;
        }
        h3 {
          @include h3-small;
          margin-bottom: 20px;
        }
        p {
          font-size: 0.75rem;
          line-height: 18px;
        }
      }
    }
    .advantage-section article {
      .advantage-img {
        float: left;
        width: 4rem;
        height: 6rem;
        // margin-right: 2rem;
        img {
          width: 60%;
          height: auto;
        }
      }
      p.desc {
        font-size: 0.75rem;
        line-height: 1.25rem;
      }
    }
    .service-section {
      h2.title {
        margin-top: 1rem;
      }
      h3.title {
        font-size: 0.75rem;
        text-align: left;
        padding-left: 0;
      }
      .row {
        padding: 1.25rem 0 3rem;
        aside {
          h3 {
            margin-bottom: 1rem;
          }
          p {
            font-size: 0.75rem;
          }
          h2.color-text-img {
            margin-bottom: 20px;
            font-size: 2rem;
            font-family: SourceHanSansCN-Heavy, SourceHanSansCN;
            color: #003ce7;
            font-weight: bold;
          }
        }
      }
    }
    .application-section {
      .row {
        flex-wrap: nowrap;
        overflow-x: auto;
        // margin: 0;
      }
      h2.title {
        text-align: left;
        padding-left: 15px;
      }
      .application-wrap {
        padding-bottom: 0;
        // padding-left: 0;
        // &:last-child {
        //   padding-right: 0;
        // }
        p {
          font-size: 1rem;
          margin-bottom: 1rem;
          margin-top: 0;
          text-align: left;
        }
      }
      .pagination-wrap {
        display: flex;
        align-items: center;
        img {
          width: 1.25rem;
          height: auto;
          margin-right: 1rem;
        }
        .scroll-wrap {
          width: 50%;
          margin-left: 2rem;
          position: relative;
          .scroll-bar {
            position: absolute;
            width: 100%;
            height: 1px;
            border-radius: 1px;
            background-color: #d8d8d8;
            &.full {
              width: 33.3%;
              z-index: 1;
              background-color: #212121;
            }
          }
        }
      }
    }
  }
}
