.product-2 {
  @mixin h2-x-large {
    font-size: 48px;
    line-height: 76px;
  }
  @mixin h2-large {
    font-size: 36px;
    line-height: 48px;
  }
  @mixin h2-mid {
    font-size: 24px;
    line-height: 36px;
  }
  @mixin h2-small {
    font-size: 1.5rem;
    line-height: 32px;
  }
  @mixin color-text-large {
    font-size: 120px;
    line-height: 150px;
  }
  @mixin color-text-mid {
    font-size: 80px;
    line-height: 100px;
  }
  @mixin color-text-small {
    font-size: 2.25rem;
    line-height: 60px;
  }
  @mixin h3-x-large {
    font-size: 32px;
    line-height: 48px;
  }
  @mixin h3-large {
    font-size: 24px;
    line-height: 32px;
  }
  @mixin h3-mid {
    font-size: 18px;
    line-height: 24px;
  }
  @mixin h3-small {
    font-size: 1.125rem;
    line-height: 24px;
  }
  @mixin p-x-large {
    font-size: 24px;
    line-height: 24px;
  }
  @mixin p-large {
    font-size: 18px;
    line-height: 18px;
  }
  padding-top: 68px;
  .header {
    background-color: #e2e7e9;
  }
  h2.title {
    @include h2-large;
    font-weight: 400;
    color: #212121;
    text-align: center;
    margin-bottom: 40px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  // 产品优势
  .advantage-section {
    padding: 70px 0 50px;
    // .row {
    //   padding: 0 5%;
    // }
    .col-md-6,
    .col-lg-4 {
      padding: 0 5.6%;
    }
    article {
      .advantage-img {
        display: block;
        height: 115px;
        width: auto;
        img {
          height: 100%;
          width: auto;
        }
      }
      margin-bottom: 40px;
      h2 {
        font-size: 16px;
        font-weight: 500;
        color: #212121;
        line-height: 28px;
        margin: 8px 0 16px;
      }
      p.desc {
        font-size: 13.6px;
        font-weight: 400;
        color: #ababab;
        line-height: 28px;
        text-align: justify;
        .strong {
          font-weight: normal;
          color: #003ce7;
        }
      }
    }
  }
  // 本地化
  .background-section,
  .localization-section {
    padding: 120px 0 80px;
    background-color: #f7f9fa;
    width: 100%;
    .row {
      margin-bottom: 80px;
    }
    aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        @include h2-large;
        font-weight: 400;
        color: #212121;
        margin-bottom: 20px;
        white-space: nowrap;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: #212121;
        line-height: 28px;
        margin-bottom: 20px;
        text-align: justify;
      }
    }
    .article {
      margin-bottom: 32px;
      .article-wrap {
        height: 100%;
        background-color: #ffffff;
      }
      article {
        position: relative;
        padding: 90px 36px 36px;
        height: 100%;
        background-color: #ffffff;
        img {
          position: absolute;
          right: 36px;
          top: 36px;
          width: 94px;
          height: auto;
        }
        h2 {
          font-size: 18px;
          font-weight: bold;
          line-height: 18px;
          color: #212121;
          margin-bottom: 40px;
          &.active {
            color: #003ce7;
          }
        }
        .divider {
          position: relative;
          top: -20px;
          width: 40px;
          height: 1px;
          background-color: #212121;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          color: #ababab;
          line-height: 28px;
          text-align: justify;
        }
      }
      &:hover,
      &:focus,
      &:active {
        h2 {
          color: #003ce7;
        }
        .divider {
          background-color: #003ce7;
        }
      }
    }
  }
  // 产品介绍
  .background-section {
    background-color: #e2e7e9;
    overflow-x: hidden;
    aside.col-12 {
      z-index: 1;
    }
    img.col-12 {
      z-index: 0;
    }
    .img-wrap {
      transform: scale(1.5) translate(30px, 40px);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  @media (min-width: 1920px) {
    h2.title {
      @include h2-x-large;
      margin-bottom: 20px;
    }
    h3.title {
      @include h3-x-large;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 1199px) {
    h2.title {
      @include h2-mid;
      margin-bottom: 20px;
    }
    .background-section,
    .advantage-section,
    .localization-section {
      aside {
        h2 {
          @include h2-mid;
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding-top: 48px;
    .background-section,
    .advantage-section,
    .localization-section {
      aside {
        h2 {
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .article {
        article {
          padding: 36px;
          img {
            top: 20px;
            width: 60px;
          }
        }
      }
    }
    .background-section {
      .img-wrap {
        margin-left: 0;
        transform: scale(1.3);
        margin-top: 32px;
      }
    }
  }
  @media (max-width: 500px) {
    h2.title {
      @include h2-small;
      margin-bottom: 10px;
      text-align: left;
      font-weight: bold;
      .sub {
        font-size: 14px;
      }
    }
    aside {
      p {
        font-size: 0.875rem;
      }
    }
    .background-section,
    .advantage-section,
    .localization-section {
      padding: 40px 0;
      aside {
        h2 {
          @include h2-small;
          margin-bottom: 20px;
          font-weight: bold;
        }
        p {
          font-size: 0.875rem;
          line-height: 24px;
        }
      }
    }
    .background-section,
    .localization-section {
      .row {
        margin-bottom: 20px;
      }
    }
    .advantage-section article {
      h2 {
        margin-bottom: 0.5rem;
      }
      .advantage-img {
        width: 4.5rem;
        // margin-right: 1rem;
        float: left;
        img {
          width: 60%;
          height: auto;
        }
      }
      p.desc {
        line-height: 1.25rem;
        font-size: 0.75rem;
      }
    }
  }
}
