.product-2 {
  @mixin h1-large {
    font-size: 51px;
    line-height: 76px;
  }
  @mixin h1-mid {
    font-size: 32px;
    line-height: 40px;
  }
  @mixin h1-small {
    font-size: 24px;
    line-height: 32px;
  }
  padding-top: 68px;
  .header {
    background-color: #e2e7e9;
  }
  h1.title {
    @include h1-large;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: #212121;
    text-align: center;
    margin-bottom: 40px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  // 产品优势
  .advantage-section {
    padding: 70px 0 50px;
    // .row {
    //   padding: 0 5%;
    // }
    .col-md-6,
    .col-lg-4 {
      padding: 0 6%;
    }
    article {
      .advantage-img {
        display: block;
        height: 115px;
        width: auto;
      }
      margin-bottom: 40px;
      h1 {
        font-size: 16px;
        font-family: SourceHanSansCN-Medium, SourceHanSansCN;
        font-weight: 500;
        color: #212121;
        line-height: 28px;
        margin: 8px 0 16px;
      }
      p.desc {
        font-size: 14px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #ababab;
        line-height: 28px;
        strong {
          font-weight: normal;
          color: #2365eb;
        }
      }
    }
  }
  // 本地化
  .background-section,
  .localization-section {
    padding: 120px 0 80px;
    background-color: #f7f9fa;
    width: 100%;
    .row {
      margin-bottom: 80px;
    }
    aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        @include h1-large;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #212121;
        margin-bottom: 20px;
        white-space: nowrap;
      }
      p {
        font-size: 16px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #212121;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }
    .article {
      margin-bottom: 32px;
      article {
        position: relative;
        background-color: #fff;
        padding: 90px 36px 36px;
        height: 100%;
        img {
          position: absolute;
          right: 36px;
          top: 36px;
          width: 94px;
          height: auto;
        }
        h1 {
          font-size: 18px;
          font-family: SourceHanSansCN-Bold, SourceHanSansCN;
          font-weight: bold;
          line-height: 18px;
          color: #212121;
          margin-bottom: 40px;
          &.active {
            color: #2365eb;
          }
        }
        .divider {
          position: relative;
          top: -20px;
          width: 40px;
          height: 1px;
          background-color: #212121;
        }
        p {
          font-size: 14px;
          font-family: SourceHanSansCN-Medium, SourceHanSansCN;
          font-weight: 500;
          color: #ababab;
          line-height: 28px;
        }
      }
      &:hover {
        h1 {
          color: #2365eb;
        }
        .divider {
          background-color: #2365eb;
        }
      }
    }
  }
  // 公司介绍
  .background-section {
    background-color: #e2e7e9;
  }
  @media (max-width: 1200px) {
    .background-section,
    .advantage-section,
    .localization-section {
      aside {
        h1 {
          font-size: 32px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    h1.title {
      @include h1-mid;
      margin-bottom: 20px;
    }
    .background-section,
    .advantage-section,
    .localization-section {
      aside {
        h1 {
          @include h1-mid;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .article {
        article {
          padding: 36px;
          img {
            top: 20px;
            width: 60px;
          }
        }
      }
    }
  }
  @media (max-width: 500px) {
    h1.title {
      @include h1-small;
      margin-bottom: 10px;
      .sub {
        font-size: 14px;
      }
    }
    aside {
      p {
        font-size: 16px;
      }
    }
    .background-section,
    .advantage-section,
    .localization-section {
      padding: 20px 0;
      aside {
        h1 {
          @include h1-small;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .background-section,
    .localization-section {
      .row {
        margin-bottom: 20px;
      }
    }
  }
}
