.product-1 {
  padding-top: 120px;
  section {
    padding: 60px 0;
  }
  img {
    width: 100%;
    height: 100%;
  }
  video {
    width: 100%;
    height: auto;
    outline: none;
  }
  .p0 {
    padding: 0;
  }
  .bg-gray {
    background: linear-gradient(207deg, #fafbfc 0%, #d5d8dc 100%);
  }
  .bg-black {
    background-color: #000000;
  }
  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      font-size: 18px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #212112;
      line-height: 32px;
    }
  }
  h1.title {
    font-size: 42px;
    font-family: SourceHanSansCN-Bold, SourceHanSansCN;
    font-weight: bold;
    color: #212112;
    line-height: 56px;
    margin-bottom: 40px;
    &.white {
      color: #ffffff;
      .sub {
        color: #ffffff;
      }
    }
    &.blue {
      color: linear-gradient(178deg, #3eefea 0%, #07a0f1 100%);
    }
    .sub {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }
  h2.title {
    font-size: 21px;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: #212112;
    line-height: 28px;
    margin-bottom: 40px;
    &.white {
      color: #ffffff;
    }
    &.blue {
      color: linear-gradient(178deg, #3eefea 0%, #07a0f1 100%);
    }
  }
  .product-header {
    background-color: #000000;
    border-top: 1px #252525 solid;
    border-bottom: 1px #252525 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 28px;
    position: fixed;
    top: 68px;
    left: 0;
    width: 100vw;
    z-index: 10;
    h1 {
      font-size: 12px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #ffffff;
      line-height: 18px;
    }
    nav {
      display: flex;
      align-items: center;
      li {
        list-style: none;
        font-size: 12px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #ababab;
        line-height: 18px;
        padding-right: 16px;
        cursor: pointer;
        a {
          color: inherit;
        }
        &.active {
          color: #ffffff;
        }
      }
      .contact-us {
        background: #2365eb;
        border-radius: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 20px;
        img {
          width: 18px;
          height: 18px;
          margin-right: 6px;
        }
        span {
          font-size: 12px;
          font-family: SourceHanSansCN-Regular, SourceHanSansCN;
          font-weight: 400;
          color: #ffffff;
          line-height: 18px;
        }
      }
    }
  }
  .video-section {
    padding: 0;
  }
  // 非接触指纹采集仪
  .product-detail {
    h1.title {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
    }
  }
  // 核心优势
  .advantage-section {
    h1 {
      text-align: center;
    }
    .advantage-list {
      li {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .img-wrap {
          width: 80%;
          margin-bottom: 20px;
        }

        p {
          font-size: 25px;
          font-family: SourceHanSansCN-Regular, SourceHanSansCN;
          font-weight: 400;
          color: #ffffff;
          line-height: 63px;
        }
      }
    }
    .logo-wrap {
      img {
        height: 30px;
        width: auto;
        position: relative;
        top: 50px;
        left: 40px;
      }
    }
    .scroll-wrap {
      background-color: #313336;
      padding: 10% 35% 0;
      .img-wrap img {
        position: relative;
        top: 60px;
      }
      .carousel-indicators {
        visibility: hidden;
      }
    }
    .carousel-wrap {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: absolute;
      bottom: 20px;
      right: 5%;
      ol {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        li {
          list-style: none;
          width: 16px;
          height: 16px;
          background-color: #5e6063;
          margin-right: 10px;
          border-radius: 100%;
          cursor: pointer;
          &.active {
            background: linear-gradient(176deg, #3eefea 0%, #07a0f1 100%);
          }
        }
      }
      .divider {
        height: 16px;
        width: 1px;
        margin: 0 12px;
        background-color: #5e6063;
      }
      .view-video {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          width: 16px;
          height: auto;
          margin-right: 12px;
        }
        p {
          font-size: 16px;
          color: #5e6063;
        }
      }
    }
  }
  // 非接触采集文字
  .no-touch-text {
    padding: 0;
    position: relative;
    .text-speed {
      position: absolute;
      top: calc(50% - 42px);
      left: calc(50% - 175px);
      height: 84px;
      width: auto;
    }
  }
  // 强大的性能加持
  .powerful-performance {
    position: relative;
    padding: 0;
    img {
      z-index: -1;
    }
    .title-wrap {
      width: 100%;
      position: absolute;
      top: 5%;
      text-align: center;
    }
  }
  // 精密的照明系统设计
  // 高精度曲面重建算法
  .lighting-design,
  .high-precision-algorithm {
    position: relative;
    padding: 0;
    img {
      z-index: -1;
    }
    .row {
      position: absolute;
      top: 10%;
      width: 80%;
    }
    h1 img {
      height: 60px;
      width: auto;
    }
  }
  // 非接触
  .no-touch {
    position: relative;
    padding: 0;
    .row {
      position: absolute;
      top: 10%;
      width: 80%;
    }
    img {
      z-index: -1;
    }
  }
  // 图像质量高
  .picture-high-quality {
    position: relative;
    .text-quality {
      position: absolute;
      height: auto;
      width: 340px;
      left: calc(50% - 171px);
      &.up {
        top: calc(50% - 54px);
      }
      &.down {
        top: calc(50% + 32px);
      }
    }
  }
  // 干湿浅等疑难指纹采集友好
  // 采集面积大
  .collect-high-friendly,
  .collect-high-area {
    text-align: center;
    h2 {
      font-size: 21px;
      font-family: SourceHanSansCN-Medium, SourceHanSansCN;
      font-weight: 500;
      color: #212121;
      line-height: 20px;
      margin-bottom: 72px;
      span {
        font-size: 28px;
      }
    }
    .scroll-wrap {
      // flex-wrap: nowrap;
      // overflow-x: hidden;
      background-color: #fff;
      padding: 40px;
      .img-wrap {
        display: inline-flex;
        img {
          flex: 0 0 50%;
          display: inline-block;
          width: 50%;
          height: 50%;
        }
      }
      .carousel-indicators {
        top: -100px;
        li {
          margin: 0;
          padding: 10px;
          width: 120px;
          border-bottom: 1px solid #cccccc;
          height: 20px;
          background: transparent;
          text-indent: 0;
          p {
            white-space: nowrap;
          }
        }
        li.active {
          border-bottom: 1px solid #000000;
        }
      }
      .name-wrap {
        display: flex;
        margin-top: 16px;
        h2.title {
          text-align: center;
          flex: 0 0 50%;
          margin-bottom: 0;
        }
      }
    }
    .nav-wrap {
      display: flex;
      .nav-item {
        margin-right: 20px;
        color: #ababab;
        &.active {
          color: #212121;
        }
      }
    }
  }
  // 图像面积大
  .picture-high-area {
    position: relative;
    .text-area {
      position: absolute;
      width: auto;
      height: 64px;
      top: calc(50% - 32px);
      &.left {
        left: calc(50% - 200px);
      }
      &.left2 {
        left: calc(50% - 225px);
      }
      &.right {
        height: 50px;
        left: calc(50% + 175px);
        top: calc(50% - 16px);
      }
      &.right2 {
        height: 50px;
        left: calc(50% + 200px);
        top: calc(50% - 16px);
      }
    }
  }
  // 采集速度快
  .collection-speed {
    position: relative;
    .text-speed {
      position: absolute;
      top: calc(50% - 42px);
      left: calc(50% - 175px);
      height: 84px;
      width: auto;
    }
  }
  // 采集速度快,操作简单
  .collection-speed-easy {
    padding-bottom: 0;
    .advantage-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      padding-left: 0;
      li {
        flex: 0 0 50%;
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
        img {
          width: 36px;
          height: auto;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          font-family: SourceHanSansCN-Regular, SourceHanSansCN;
          font-weight: 400;
          color: #212112;
          line-height: 21px;
          text-align: center;
        }
      }
    }
    .img-wrap {
      padding: 0 10%;
      img {
        height: auto;
      }
    }
  }
  // 多重防护，增强您的体验
  .protect-section {
    padding: 20px 0;
    .row {
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 20px;
      // & > div {
      //   padding-left: 0;
      // }
    }
    .flex-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // &:last-child {
      //   padding-right: 0;
      // }
    }
    .image-wrap {
      position: relative;
      h2.title {
        position: absolute;
        bottom: 20px;
        left: 40px;
        margin-bottom: 24px;
      }
      p {
        font-size: 16px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #ffffff;
        line-height: 21px;
        position: absolute;
        bottom: 20px;
        left: 40px;
      }
      &:hover {
        transform: scale(1.1);
        transition: all 500ms;
      }
    }
    h1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      font-size: 36px;
      span {
        flex-shrink: 0;
      }
      .arrow-wrap {
        display: flex;
        align-items: center;
        .arrow-icon {
          margin-left: 10px;
          width: 36px;
          height: auto;
          cursor: pointer;
          &.right {
            transform: rotate(180deg);
          }
        }
      }
    }
    /* 滚动条默认显示样式 */
    ::-webkit-scrollbar-thumb {
      background-color: #000000;
      height: 1px;
      padding: 0 15px;
      // outline-offset: -2px;
      // outline: 2px solid #000000;
      // border-radius: 4px;
      // border: 2px solid #fff;
    }
    /* 鼠标点击滚动条显示样式 */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #000000;
      height: 1px;
      padding: 0 15px;
    }
    /* 滚动条模块大小 */
    ::-webkit-scrollbar {
      width: 10px;
      height: 1px;
    }
    /* 滚动框背景样式 */
    ::-webkit-scrollbar-track-piece {
      background-color: #fff;
      border-radius: 0;
      padding: 0 15px;
    }
  }
  // 重叠title
  .no-touch-text,
  .picture-high-area,
  .collection-speed,
  .picture-high-quality {
    h1 {
      font-size: 70px;
      font-family: SourceHanSansCN-Bold, SourceHanSansCN;
      font-weight: bold;
      color: #212121;
      background: linear-gradient(176deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1;
      position: absolute;
      top: calc(50% - 42px);
      left: calc(50% - 175px);
    }
  }

  @media (max-width: 767px) {
    h1.title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 20px;
      .sub {
        font-size: 18px;
      }
    }
    h2.title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    .advantage-section {
      .advantage-list {
        li p {
          font-size: 18px;
        }
      }
    }
    .lighting-design {
      h1 img {
        height: 45px;
      }
    }
    .no-touch-text,
    .picture-high-area,
    .collection-speed,
    .picture-high-quality {
      h1 {
        font-size: 40px;
        top: calc(50% - 24px);
        left: calc(50% - 100px);
      }
    }
    .collection-speed {
      .text-speed {
        position: absolute;
        top: calc(50% - 24px);
        left: calc(50% - 125px);
        height: 48px;
        width: auto;
      }
    }
    .picture-high-area {
      .text-area {
        position: absolute;
        width: auto;
        height: 36px;
        top: calc(50% - 18px);
        &.left {
          left: calc(50% - 116px);
        }
        &.left2 {
          left: calc(50% - 132px);
        }
        &.right {
          height: 28px;
          left: calc(50% + 100px);
          top: calc(50% - 10px);
        }
        &.right2 {
          height: 28px;
          left: calc(50% + 116px);
          top: calc(50% - 10px);
        }
      }
    }
    .picture-high-quality {
      .text-quality {
        width: 196px;
        left: calc(50% - 98px);
        &.up {
          top: calc(50% - 32px);
        }
        &.down {
          top: calc(50% + 20px);
        }
      }
    }
  }
}
