@import "../../assets/css/animation.scss";
.technology-page {
  @mixin h2-x-large {
    font-size: 48px;
    line-height: 76px;
  }
  @mixin h2-large {
    font-size: 36px;
    line-height: 48px;
  }
  @mixin h2-mid {
    font-size: 24px;
    line-height: 36px;
  }
  @mixin h2-small {
    font-size: 18px;
    line-height: 24px;
  }
  @mixin color-text-large {
    font-size: 120px;
    line-height: 150px;
  }
  @mixin color-text-mid {
    font-size: 80px;
    line-height: 100px;
  }
  @mixin color-text-small {
    font-size: 2.25rem;
    line-height: 60px;
  }
  @mixin h3-x-large {
    font-size: 32px;
    line-height: 48px;
  }
  @mixin h3-large {
    font-size: 24px;
    line-height: 32px;
  }
  @mixin h3-mid {
    font-size: 18px;
    line-height: 24px;
  }
  @mixin h3-small {
    font-size: 1.125rem;
    line-height: 24px;
  }
  @mixin p-x-large {
    font-size: 24px;
    line-height: 24px;
  }
  @mixin p-large {
    font-size: 18px;
    line-height: 18px;
  }
  section {
    padding: 60px 0;
    &.bg-gray {
      background-color: #f7f9fa;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  h2.title {
    @include h2-large;
    font-weight: 400;
    color: #212121;
    text-align: center;
    &.white {
      color: #ffffff;
    }
    &.blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  h3.title {
    @include h3-large;
    font-weight: 400;
    color: #212112;
    &.blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  // 背景图
  .bg-section {
    text-align: center;
    position: relative;
    padding: 0;
    h2 {
      width: 100%;
      position: absolute;
      top: 180px;
      z-index: 1;
    }
    p {
      width: 100%;
      position: absolute;
      top: 270px;
      @include p-large;
      font-weight: 400;
      color: #ffffff;
    }
  }
  .search-section,
  .study-section,
  .no-touch-section,
  .security-section {
    h2 {
      margin-bottom: 80px;
    }
    .color-title {
      @include color-text-large;
      width: 100%;
      text-align: center;
      font-weight: 800;
      color: #212121;
      z-index: 0;
    }
    .color-title-img {
      display: block;
      margin: auto;
      width: 60%;
      margin-bottom: 60px;
    }
    .row.flex-center {
      justify-content: center;
      position: relative;
      // top: -120px;
      .hidden-img {
        visibility: hidden;
      }
    }
    img {
      z-index: 1;
    }
    .advantage-list {
      display: flex;
      flex-wrap: wrap;
      // margin-top: -20px;
      margin-top: 100px;
      width: 100%;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        // padding: 0 80px;
        img {
          height: 60px;
          width: auto;
          margin-bottom: 20px;
        }
        p {
          width: 100%;
          text-align: center;
          font-size: 16px;
          font-weight: 400;
          color: #212121;
          line-height: 23px;
        }
      }
    }
  }
  // 向量和图搜索引擎
  .search-section {
    p.description {
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      color: #212112;
      line-height: 33px;
      margin-bottom: 80px;
    }
    .color-title {
      // background-image: -webkit-gradient(
      //   linear,
      //   0 0,
      //   0 bottom,
      //   from(#208fe7),
      //   to(#17d9d9)
      // );
      background: linear-gradient(357deg, #208fe7 0%, #17d9d9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  // 小样本的无监督学习
  .study-section {
    .color-title {
      background: linear-gradient(358deg, #a159bd 0%, #00cae1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  // 非接触指掌纹采集
  .no-touch-section {
    .color-title {
      background: linear-gradient(357deg, #208fe7 0%, #17d9d9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  // 隐私和安全计算
  .security-section {
    .color-title {
      background: linear-gradient(347deg, #a159bd 0%, #00cae1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @media (min-width: 1920px) {
    h2.title {
      @include h2-x-large;
      margin-bottom: 20px;
    }
    h3.title {
      @include h3-x-large;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 1199px) {
    h2.title {
      @include h2-mid;
      margin-bottom: 20px;
    }
    h3.title {
      @include h3-mid;
      margin-bottom: 10px;
    }
    .bg-section {
      overflow-x: hidden;
      h2 {
        top: 130px;
      }
      img {
        width: 150%;
        height: auto;
        margin-left: -25%;
      }
    }
  }
  @media (max-width: 991px) {
    .search-section,
    .study-section,
    .no-touch-section,
    .security-section {
      .advantage-list {
        li {
          padding: 0 32px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    section {
      padding: 40px 0;
    }
    .search-section,
    .study-section,
    .no-touch-section,
    .security-section {
      .color-title {
        @include color-text-mid;
      }
      .row.flex-center {
        // top: -120px;
      }
      .advantage-list {
        li {
          padding: 0 28px;
        }
      }
    }
  }
  @media (max-width: 500px) {
    h2.title {
      @include h2-small;
      margin-bottom: 10px;
    }
    h3.title {
      @include h3-small;
      margin-bottom: 10px;
    }
    .bg-section {
      h2 {
        top: 80px;
      }
    }
    .search-section {
      p.description {
        margin-bottom: 50px;
        font-size: 0.875rem;
        line-height: 24px;
      }
    }
    .search-section,
    .study-section,
    .no-touch-section,
    .security-section {
      .color-title {
        @include color-text-small;
        margin-bottom: 40px;
      }
      .row.flex-center {
        top: -40px;
      }
      .advantage-list {
        margin-top: 40px;
        li {
          padding: 0 0.75rem;
          &.pl-1 {
            padding-left: 1rem !important;
          }
          p {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}
