/**
    这里放一些自定义的全局css
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  & * {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.alert-wrap {
  z-index: 10000;
  position: fixed;
  top: 10%;
  left: 0;
  padding: 0 40%;
  width: 100%;
  .alert {
    margin-bottom: 0;
  }
}

.header {
  width: 100vw;
  box-shadow: 0px 2px 4px 0px rgba(37, 37, 37, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 68px;
  position: relative;
  background-color: transparent;
  position: fixed;
  padding: 22px 0;
  top: 0;
  left: 0;
  z-index: 10;
  .logo-wrap {
    position: absolute;
    left: 0;
    top: 22px;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    padding: 0 36px;
    .logo-img {
      width: auto;
      height: 16px;
    }
    .divider {
      height: 16px;
      width: 1px;
      background-color: #000000;
      margin: 0 4px;
    }
    .logo-text {
      font-size: 16px;
      line-height: 16px;
      white-space: nowrap;
    }
    &.black {
      display: none;
    }
    &.brown {
      display: none;
    }
  }
  .navbar-wrap ul {
    flex-shrink: 0;
    font-size: 12px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: #212121;
    line-height: 18px;
    display: inline-flex;
    li {
      margin-right: 40px;
      cursor: pointer;
      a {
        color: inherit;
      }
    }
  }
  &.black {
    background-color: #000000;
    .logo-wrap {
      display: none;
      &.black {
        display: block;
      }
    }
    .navbar-wrap ul {
      color: #ffffff;
    }
  }
  &.brown {
    background-color: #40424f;
    .logo-wrap {
      display: none;
      &.brown {
        display: block;
      }
    }
    .navbar-wrap ul {
      color: #ffffff;
    }
  }
  &.job {
    background-color: #b2c3ce;
  }
  &.transparent {
    background-color: transparent;
  }
  .product-nav-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 48px;
            height: auto;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.footer {
  padding: 80px 180px;
  background: linear-gradient(180deg, #e6e9ec 0%, #ffffff 100%);
  h1 {
    font-size: 12px;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: #212121;
    line-height: 18px;
    margin-bottom: 40px;
  }
  nav li {
    font-size: 12px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: #212121;
    line-height: 18px;
    margin-bottom: 16px;
    cursor: pointer;
  }
  .company-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px #cccccc solid;
    padding: 10px 0;
    margin-bottom: 18px;
    .logo-wrap {
      height: 44px;
      display: flex;
      align-items: center;
      font-size: 12px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #ababab;
      line-height: 16px;
      flex-shrink: 0;
      margin-right: 40px;
      .logo-img {
        width: 72px;
        height: auto;
        margin-right: 14px;
      }
      .download-icon {
        width: 16px;
        height: auto;
        margin-right: 8px;
      }
    }
    .address {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #212121;
      line-height: 18px;
      height: 44px;
      margin-bottom: 0;
      flex-shrink: 0;
      .address-icon {
        width: 12px;
        height: auto;
        margin-right: 8px;
      }
    }
    .contact-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;
      flex: 1;
      .contact-icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        opacity: 0.4;
        border: 1px solid #979797;
        border-radius: 100%;
        margin-left: 18px;
        .contact-icon {
          width: 24px;
          height: auto;
        }
      }
    }
  }
  .privacy-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: #ababab;
    line-height: 16px;
    & > * {
      margin: 0 36px 10px 0;
      flex-shrink: 0;
    }
    .copyright {
      margin-right: 80px;
    }
    .beian {
      .beian-icon {
        width: 18px;
        height: auto;
      }
    }
  }
}

.tip-nav-wrap {
  z-index: 10000;
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: flex;
  flex-direction: column-reverse;
  .tip-finger {
    height: 48px;
    width: 48px;
    cursor: pointer;
  }
  .tip-nav {
    display: none;
    // background-color: rgba(247, 249, 250, 0.3);
    background-color: #e9ecee;
    border-radius: 2px;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 48px;
      cursor: pointer;
      img {
        width: 32px;
        height: auto;
      }
      a {
        outline: none;
      }
    }
  }
}

.popover-wrap {
  position: fixed;
  bottom: 20px;
  right: 100px;
  z-index: 10000;
  box-shadow: 4px 5px 7px 0px rgba(33, 51, 77, 0.12);
  background-color: #f7f9fa;
  padding: 24px 35px;
  .arrow {
    position: absolute;
    right: -5px;
    top: 200px;
    width: 10px;
    height: 10px;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(45deg);
    margin-bottom: 10px;
    background-color: #f7f9fa;
  }
  h1 {
    font-size: 21px;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: #212121;
    line-height: 28px;
    text-shadow: 4px 5px 7px rgba(33, 51, 77, 0.12);
    margin-bottom: 20px;
  }
  .form-control {
    border: none;
    width: 245px;
    margin-bottom: 8px;
  }
  .btn.btn-primary {
    margin-top: 20px;
    width: 100%;
  }
}

.scroll-nav-wrap {
  position: fixed;
  left: 0;
  top: 90px;
  min-height: calc(100vh - 68px);
  padding: 80px 36px;
  // justify-content: center;
  z-index: 10000;
  pointer-events: none;
  ul {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 14px;
      cursor: pointer;
      pointer-events: auto;
      .line {
        width: 1px;
        height: 35px;
        margin-right: 20px;
        background-color: rgba(33, 33, 33, 0.15);
      }
      p {
        display: none;
        font-size: 14px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #212121;
        line-height: 16px;
      }
      &.active {
        .line {
          background: #212121;
          width: 2px;
        }
        p {
          display: block;
        }
      }
    }
  }
  &.white {
    ul {
      li {
        p {
          color: #ffffff;
        }
        &.active {
          .line {
            background: #ffffff;
          }
        }
      }
    }
  }
}

#zc__sdk__sys__btn {
  display: none !important;
}

@media (max-width: 767px) {
  .alert-wrap {
    padding: 0 30%;
  }
  .header {
    padding: 0;
    .logo-wrap {
      position: static;
      width: 100%;
    }
  }
  .footer {
    padding: 80px;
  }
  .scroll-nav-wrap {
    padding: 20px 8px;
  }
}

@media (max-width: 500px) {
  .header {
    .navbar-wrap ul {
      li {
        margin-right: 20px;
      }
    }
  }
  .footer {
    padding: 40px;
    padding-bottom: 60px;
    .company-info .address {
      flex-shrink: 1;
    }
  }
  .tip-nav-wrap {
    right: 20px;
  }
  .popover-wrap {
    right: 80px;
    .form-control {
      width: 180px;
    }
  }
}
