@import "../../assets/css/animation.scss";
.home-page {
  @mixin h2-x-large {
    font-size: 48px;
    line-height: 76px;
  }
  @mixin h2-large {
    font-size: 36px;
    line-height: 48px;
  }
  @mixin h2-mid {
    font-size: 24px;
    line-height: 36px;
  }
  @mixin h2-small {
    font-size: 1.5rem;
    line-height: 32px;
  }
  @mixin h3-x-large {
    font-size: 32px;
    line-height: 48px;
  }
  @mixin h3-large {
    font-size: 24px;
    line-height: 32px;
  }
  @mixin h3-mid {
    font-size: 18px;
    line-height: 24px;
  }
  @mixin h3-small {
    font-size: 1.125rem;
    line-height: 24px;
  }
  @mixin p-x-large {
    font-size: 24px;
    line-height: 24px;
  }
  @mixin p-large {
    font-size: 18px;
    line-height: 18px;
  }
  section {
    padding: 45px 0;
    &.bg-gray {
      background-color: #f7f9fa;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  h2.title {
    @include h2-large;
    font-weight: 400;
    color: #212121;
    &.white {
      color: #ffffff;
    }
    &.blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  h3.title {
    @include h3-large;
    font-weight: 400;
    color: #212112;
    &.blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .container-fluid {
    padding: 0 80px;
  }
  // 背景图
  .bg-section {
    text-align: center;
    position: relative;
    padding: 0;
    min-height: 46.67vw;
    h2 {
      width: 100%;
      position: absolute;
      top: 9vw;
      z-index: 1;
      pointer-events: none;
      font-size: 40px;
    }
    p {
      width: 100%;
      position: absolute;
      top: calc(9vw + 60px);
      @include p-large;
      font-weight: 400;
      color: #212121;
      z-index: 1;
      font-size: 20px;
      &.white {
        color: #ffffff;
      }
      pointer-events: none;
    }
    .carousel-indicators {
      visibility: hidden;
    }
    .carousel-wrap {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: absolute;
      bottom: 20px;
      right: 7%;
      ol {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          border-radius: 100%;
          cursor: pointer;
          &.active {
            border: 1px solid #ffffff;
          }
          .point {
            width: 5px;
            height: 5px;
            background: #ffffff;
            border-radius: 100%;
          }
        }
      }
      .divider {
        height: 16px;
        width: 1px;
        margin: 0 12px;
        background-color: #5e6063;
      }
      .view-video {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          width: 16px;
          height: auto;
          margin-right: 12px;
        }
        p {
          font-size: 16px;
          color: #5e6063;
        }
      }
    }
    .video-wrap {
      position: absolute;
      bottom: 20px;
      left: 7%;
      padding: 12px 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, #f7f7f8 0%, #edecec 100%);
      cursor: pointer;
      img {
        margin-right: 8px;
        height: 16px;
        width: auto;
      }
      span {
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        line-height: 21px;
        flex-shrink: 0;
      }
    }
  }
  // 创造性
  .creativity-section {
    h2,
    h3,
    p {
      text-align: center;
    }
    p.title {
      font-size: 18px;
    }
    .row {
      margin-top: 40px;
      .col-12 {
        margin-bottom: 20px;
      }
    }
    .advantage-wrap {
      padding: 45px 45px 9% 105px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      height: 100%;
      h3 {
        display: flex;
        align-items: center;
        transform: translateX(-60px);
        span {
          flex-shrink: 0;
        }
        img.point-right {
          width: 50px;
          height: auto;
          margin-left: 30px;
          &.hover {
            display: none !important;
          }
        }
      }
      .img-wrap {
        flex: 1;
        width: 75%;
        margin: 12.5% 0;
        margin-left: 10%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        .hidden-img {
          height: auto;
          width: 100%;
          visibility: hidden;
        }
      }
      &:hover {
        h3.title {
          color: #003ce7;
        }
        img.point-right {
          display: none;
          &.hover {
            display: inline-block !important;
          }
        }
      }
    }
  }
  // AI
  .ai-section {
    h2 {
      text-align: center;
      margin-bottom: 45px;
    }
    .col-12,
    .col-md-6 {
      position: relative;
      margin-bottom: 16px;
      padding: 0 8px;
      .animation-container {
        background-color: #f2f4f5;
        width: 100%;
      }
      &:hover {
        h3.title {
          color: #003ce7;
        }
        p.sub {
          color: #003ce7;
        }
        .find-wrap {
          p {
            color: #003ce7;
          }
          .point-img,
          .point-right {
            display: none !important;
            &.hover {
              display: inline-block !important;
            }
          }
        }
      }
    }
    h3,
    p.sub,
    .find-wrap {
      z-index: 5;
      position: absolute;
      left: 40px;
      width: calc(100% - 80px);
    }
    h3 {
      top: 40px;
      width: 80%;
    }
    p {
      top: 80px;
      font-size: 16px;
      font-weight: 400;
      color: #212112;
      line-height: 28px;
    }
    .find-wrap {
      bottom: 20px;
      display: flex;
      align-items: center;
      .point-img {
        width: 14px;
        height: auto;
        margin-right: 10px;
        &.hover {
          display: none !important;
        }
      }
      .point-right {
        width: 50px;
        height: auto;
        margin-left: 10px;
        &.hover {
          display: none !important;
        }
      }
    }
  }
  // 墨奇课堂
  .class-section {
    h2 {
      text-align: center;
      margin-bottom: 45px;
    }
    .col-12 {
      position: relative;
      .class-wraps {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
        .class-wrap {
          padding: 20px 0;
          cursor: pointer;
          height: 100%;
          flex: 0 0 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          border-right: 1px solid rgba(255, 255, 255, 0.5);
          background-size: 100%;
          background-image: none;
          background-position: center;
          background-repeat: no-repeat;
          transition: background-size 0.5s;
          &:last-child {
            border-right: none;
          }
          &.bg-visible {
            background-size: 120% !important;
          }
          &:hover {
            background-size: 120%;
          }
          img {
            width: 28px;
            height: auto;
            margin-bottom: 16px;
            pointer-events: none;
          }
        }
      }
    }
    p.title {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      line-height: 25px;
      // padding: 0 10%;
      min-height: 50px; // TODO
    }
    p.description {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: #000000;
      line-height: 28px;
      margin: 20px 0 10px;
    }
    p.description-tip {
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      color: #ababab;
      line-height: 19px;
      min-height: 38px;
    }
    .logo-wrap {
      text-align: center;
      margin-top: 20px;
      img {
        width: 30px;
        height: auto;
      }
    }
  }
  .color-text-img {
    // height: 18px;
    // width: auto;
    // margin-bottom: 3px;
    font-size: 18px;
    color: #003ce7;
    &.title {
      color: #003ce7;
      // height: 28px;
      font-size: 28px;
      margin-bottom: 32px;
    }
  }
  @media (min-width: 1920px) {
    .container-fluid {
      max-width: 1920px;
      margin: auto;
    }
    h2.title {
      @include h2-x-large;
      margin-bottom: 20px;
    }
    h3.title {
      @include h3-x-large;
      margin-bottom: 10px;
    }
    .bg-section p {
      top: calc(9vw + 90px);
    }
    .color-text-img {
      // height: 24px;
      font-size: 24px;
      &.title {
        // height: 40px;
        font-size: 40px;
      }
    }
    .creativity-section {
      p.title {
        font-size: 24px;
      }
      .advantage-wrap .img-wrap {
        width: 100%;
        margin: 0;
        margin-left: -4%;
      }
    }
  }
  // @media (max-width: 1919px) {
  //   .bg-section {
  //     overflow-x: hidden;
  //     a img {
  //       width: 120%;
  //       height: auto;
  //       margin-left: -10%;
  //     }
  //   }
  // }
  @media (max-width: 1199px) {
    h2.title {
      @include h2-mid;
      margin-bottom: 20px;
    }
    h3.title {
      @include h3-mid;
      margin-bottom: 10px;
    }
    .bg-section {
      overflow-x: hidden;
      h2 {
        top: 100px;
        font-size: 28px;
      }
      p {
        top: 140px;
        font-size: 18px;
      }
      a img {
        width: 150%;
        height: auto;
        margin-left: -25%;
      }
    }
    .creativity-section {
      .advantage-wrap {
        h3 span {
          @include h3-mid;
        }
      }
    }
    .ai-section {
      h3 {
        top: 30px;
      }
      p.sub {
        font-size: 12px;
        line-height: 18px;
        top: 60px;
      }
      .find-wrap p {
        font-size: 12px;
        line-height: 18px;
      }
    }
    .color-text-img {
      &.title {
        // height: 28px;
        font-size: 28px;
      }
    }
    .creativity-section .advantage-wrap .img-wrap {
      width: 65%;
    }
  }
  @media (max-width: 991px) {
    .creativity-section {
      .advantage-wrap {
        padding: 45px 30px 9%;
        h3.title {
          transform: translateX(0);
        }
      }
    }
  }
  @media (max-width: 767px) {
    .creativity-section {
      .advantage-wrap {
        padding: 40px 40px 9% 60px;
      }
    }
    .class-section {
      .col-12 .class-wraps {
        padding: 0 15px;
        .class-wrap {
          padding: 0;
          img {
            width: 20px;
            margin-bottom: 8px;
          }
        }
      }
      p.title {
        font-size: 12px;
        line-height: 14px;
      }
    }
    .ai-section {
      h3 {
        font-weight: bold;
      }
      .find-wrap {
        bottom: 20px;
      }
    }
    .color-text-img {
      // height: 18px;
      font-size: 18px;
      // margin-bottom: 3px;
      &.title {
        // height: 24px;
        font-size: 24px;
      }
    }
    .creativity-section .advantage-wrap .img-wrap {
      width: 75%;
    }
  }
  @media (max-width: 500px) {
    h2.title {
      @include h2-small;
      margin-bottom: 10px;
    }
    h3.title {
      @include h3-small;
      margin-bottom: 10px;
    }
    .container-fluid {
      padding: 0 1.25rem;
    }
    .bg-section {
      min-height: 150vw;
      h2 {
        // top: 70px;
        top: 8rem;
        font-size: 1.75rem;
      }
      p {
        // top: 100px;
        top: 10rem;
        font-size: 0.875rem;
      }
      a img {
        width: 100%;
        height: auto;
        margin-left: 0;
      }
      .video-wrap {
        bottom: 10px;
        padding: 6px 12px;
      }
      .carousel-wrap {
        bottom: 10px;
      }
    }
    .class-section {
      .container-fluid {
        .row {
          overflow: hidden;
          margin: 0;
        }
        .col-12 {
          overflow-x: auto;
          padding: 0;
          margin: 0 15px 0 0;
          img.class-bg-img {
            width: 320%;
            height: auto;
          }
          .class-wraps {
            padding: 0;
            width: 320%;
            .class-wrap {
              padding: 32px 24px;
              justify-content: space-between;
              align-items: flex-start;
              img {
                width: 16px;
                margin-bottom: 8px;
              }
              &:hover {
                background-image: none;
              }
              p.title {
                font-size: 1rem;
                line-height: 24px;
                text-align: left;
              }
              .watch-wrap {
                display: flex;
                align-items: center;
                pointer-events: none;
                img {
                  margin: 0 8px;
                  &.point-right {
                    width: 60px;
                  }
                }
                p.title {
                  display: inline-flex;
                  align-items: center;
                }
              }
            }
          }
        }
      }
      .logo-wrap {
        margin-top: 10px;
      }
    }
    .ai-section {
      h3 {
        top: 20px;
        font-size: 1rem;
        font-weight: normal;
      }
      p.sub {
        top: 50px;
        line-height: 16px;
        font-size: 0.75rem;
        width: calc(100% - 80px);
      }
      .find-wrap {
        bottom: 68%;
        font-size: 0.75rem;
        width: auto;
      }
      .row {
        flex-wrap: nowrap;
        overflow-x: auto;
        a.col-10 {
          margin-bottom: 0;
          overflow: hidden;
          img {
            height: auto;
          }
          .animation-container {
            padding-top: 8rem;
            height: 100%;
            position: relative;
            background-color: #f2f4f5;
            overflow: hidden;
            &.ani-1 {
              width: 200%;
              .animation-wrap-1 {
                position: absolute;
                bottom: 0;
                height: 50%;
                margin-left: -22%;
              }
            }
            &.ani-2,
            &.ani-3 {
              width: 140%;
              .animation-wrap-2,
              .animation-wrap-3 {
                margin-left: -20%;
              }
            }
          }
        }
      }
    }
    .creativity-section {
      .advantage-wrap {
        padding: 30px 20px 9% 30px;
        .img-wrap {
          width: 100%;
          margin: 15% 0 5%;
        }
      }
      p.title {
        font-size: 0.75rem;
      }
    }
    .color-text-img {
      // height: 1.125rem;
      font-size: 0.75rem;
      &.title {
        // height: 1.125rem;
        font-size: 1.125rem;
        margin-bottom: 1rem;
      }
    }
  }
  @media (max-width: 360px) {
    .creativity-section .advantage-wrap h3 img.point-right {
      margin-left: 2px;
    }
  }
}
