@import "../../assets/css/animation.scss";
.home-page {
  @mixin h2-large {
    font-size: 51px;
    line-height: 76px;
  }
  @mixin h2-mid {
    font-size: 32px;
    line-height: 40px;
  }
  @mixin h2-small {
    font-size: 24px;
    line-height: 32px;
  }
  @mixin h3-large {
    font-size: 32px;
    line-height: 48px;
  }
  @mixin h3-mid {
    font-size: 18px;
    line-height: 24px;
  }
  @mixin h3-small {
    font-size: 18px;
    line-height: 24px;
  }
  @mixin p-large {
    font-size: 28px;
    line-height: 28px;
  }
  section {
    padding: 45px 0;
    &.bg-gray {
      background-color: #f7f9fa;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  h2.title {
    @include h2-large;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: #212121;
    &.white {
      color: #ffffff;
    }
    &.blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  h3.title {
    @include h3-large;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: #212112;
    &.blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .blue {
      background: linear-gradient(141deg, #3eefea 0%, #07a0f1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .container-fluid {
    padding: 0 80px;
  }
  // 背景图
  .bg-section {
    text-align: center;
    position: relative;
    padding: 0;
    h2 {
      width: 100%;
      position: absolute;
      top: 9vw;
      z-index: 1;
    }
    p {
      width: 100%;
      position: absolute;
      top: calc(9vw + 90px);
      @include p-large;
      font-family: SourceHanSansCN-Normal, SourceHanSansCN;
      font-weight: 400;
      color: #ffffff;
      z-index: 1;
    }
    .carousel-indicators {
      visibility: hidden;
    }
    .carousel-wrap {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: absolute;
      bottom: 20px;
      right: 7%;
      ol {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          border-radius: 100%;
          cursor: pointer;
          &.active {
            border: 1px solid #ffffff;
          }
          .point {
            width: 5px;
            height: 5px;
            background: #ffffff;
            border-radius: 100%;
          }
        }
      }
      .divider {
        height: 16px;
        width: 1px;
        margin: 0 12px;
        background-color: #5e6063;
      }
      .view-video {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          width: 16px;
          height: auto;
          margin-right: 12px;
        }
        p {
          font-size: 16px;
          color: #5e6063;
        }
      }
    }
    .video-wrap {
      position: absolute;
      bottom: 20px;
      left: 7%;
      padding: 12px 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, #f7f7f8 0%, #edecec 100%);
      cursor: pointer;
      img {
        margin-right: 8px;
        height: 16px;
        width: auto;
      }
      span {
        font-size: 14px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #000000;
        line-height: 21px;
        flex-shrink: 0;
      }
    }
  }
  // 创造性
  .creativity-section {
    h2,
    h3 {
      text-align: center;
    }
    .row {
      margin-top: 40px;
      .col-12 {
        margin-bottom: 20px;
      }
    }
    .advantage-wrap {
      padding: 45px 45px 9%;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      height: 100%;
      h3 {
        display: flex;
        align-items: center;
        span {
          flex-shrink: 0;
        }
        img.point-right {
          width: 50px;
          height: auto;
          margin-left: 30px;
        }
      }
      .img-wrap {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        .hidden-img {
          height: auto;
          width: 100%;
          visibility: hidden;
        }
      }
    }
  }
  // AI
  .ai-section {
    h2 {
      text-align: center;
      margin-bottom: 45px;
    }
    .col-12,
    .col-md-6 {
      position: relative;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    h3,
    p.sub,
    .find-wrap {
      z-index: 5;
      position: absolute;
      left: 40px;
      width: calc(50% - 40px);
    }
    h3 {
      top: 40px;
      width: 80%;
    }
    p {
      top: 90px;
      font-size: 16px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #212112;
      line-height: 28px;
    }
    .find-wrap {
      bottom: 40px;
      display: flex;
      align-items: center;
      .point-img {
        width: 14px;
        height: auto;
        margin-right: 10px;
      }
      .point-right {
        width: 50px;
        height: auto;
        margin-left: 10px;
      }
    }
  }
  // 墨奇课堂
  .class-section {
    h2 {
      text-align: center;
      margin-bottom: 45px;
    }
    .col-12 {
      position: relative;
      .class-wraps {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
        .class-wrap {
          padding: 20px 0;
          cursor: pointer;
          height: 100%;
          flex: 0 0 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          border-right: 1px solid rgba(255, 255, 255, 0.8);
          &:last-child {
            border-right: none;
          }
          img {
            width: 28px;
            height: auto;
            margin-bottom: 16px;
          }
        }
      }
    }
    p.title {
      text-align: center;
      font-size: 16px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #ffffff;
      line-height: 25px;
      padding: 0 10%;
      min-height: 50px; // TODO
    }
    p.description {
      text-align: center;
      font-size: 16px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #000000;
      line-height: 28px;
      margin: 20px 0 10px;
    }
    p.description-tip {
      text-align: center;
      font-size: 12px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #ababab;
      line-height: 19px;
    }
    .logo-wrap {
      text-align: center;
      margin-top: 40px;
      img {
        width: 30px;
        height: auto;
      }
    }
  }
  @media (max-width: 1199px) {
    .creativity-section {
      .advantage-wrap {
        h3 span {
          font-size: 24px;
        }
      }
    }
    .ai-section {
      h3 {
        font-size: 24px;
        top: 30px;
      }
      p.sub {
        font-size: 12px;
        top: 80px;
      }
    }
  }
  @media (max-width: 991px) {
    .creativity-section {
      .advantage-wrap {
        padding: 45px 30px 9%;
      }
    }
  }
  @media (max-width: 767px) {
    h2.title {
      @include h2-mid;
      margin-bottom: 20px;
    }
    h3.title {
      @include h3-mid;
      margin-bottom: 10px;
    }
    .bg-section {
      h2 {
        top: 100px;
      }
      p {
        top: 140px;
        font-size: 16px;
      }
    }
    .creativity-section {
      .advantage-wrap {
        padding: 20px 20px 9%;
      }
    }
    .class-section {
      .col-12 .class-wraps {
        padding: 0 15px;
        .class-wrap {
          padding: 0;
          img {
            width: 20px;
            margin-bottom: 8px;
          }
        }
      }
      p.title {
        font-size: 12px;
        line-height: 14px;
      }
    }
    .ai-section {
      h3 {
        font-weight: bold;
      }
      .find-wrap {
        bottom: 20px;
      }
    }
  }
  @media (max-width: 500px) {
    h2.title {
      @include h2-small;
      margin-bottom: 10px;
    }
    h3.title {
      @include h3-small;
      margin-bottom: 10px;
    }
    .container-fluid {
      padding: 0 15px;
    }
    .bg-section {
      h2 {
        top: 70px;
      }
      p {
        top: 100px;
      }
      .video-wrap {
        bottom: 10px;
        padding: 6px 12px;
      }
      .carousel-wrap {
        bottom: 10px;
      }
    }
    .class-section {
      .col-12 .class-wraps {
        padding: 0 15px;
        .class-wrap {
          padding: 0;
          img {
            width: 16px;
            margin-bottom: 8px;
          }
        }
      }
      p.title {
        font-size: 10px;
        line-height: 12px;
      }
    }
    .ai-section {
      h3 {
        top: 20px;
      }
      p.sub {
        top: 50px;
        line-height: 16px;
        font-size: 14px;
      }
      .find-wrap {
        bottom: 10px;
      }
    }
  }
}
