.job-page {
  @mixin h2-x-large {
    font-size: 48px;
    line-height: 76px;
  }
  @mixin h2-large {
    font-size: 36px;
    line-height: 48px;
  }
  @mixin h2-mid {
    font-size: 24px;
    line-height: 36px;
  }
  @mixin h2-small {
    font-size: 1.5rem;
    line-height: 32px;
  }
  @mixin color-text-large {
    font-size: 120px;
    line-height: 150px;
  }
  @mixin color-text-mid {
    font-size: 80px;
    line-height: 100px;
  }
  @mixin color-text-small {
    font-size: 2.25rem;
    line-height: 60px;
  }
  @mixin h3-x-large {
    font-size: 32px;
    line-height: 48px;
  }
  @mixin h3-large {
    font-size: 24px;
    line-height: 32px;
  }
  @mixin h3-mid {
    font-size: 18px;
    line-height: 24px;
  }
  @mixin h3-small {
    font-size: 1.125rem;
    line-height: 24px;
  }
  @mixin p-x-large {
    font-size: 24px;
    line-height: 24px;
  }
  @mixin p-large {
    font-size: 18px;
    line-height: 18px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  h2.title {
    @include h2-large;
    font-weight: 500;
    color: #212121;
    line-height: 63px;
    text-align: center;
  }
  p {
    @include p-large;
    font-weight: 400;
    color: #212121;
  }
  // 背景图
  .bg-section {
    text-align: center;
    position: relative;
    padding: 0;
    min-height: 46.67vw;
    h2 {
      width: 100%;
      position: absolute;
      top: 9vw;
      z-index: 1;
      font-size: 40px;
    }
    p {
      width: 100%;
      position: absolute;
      top: calc(9vw + 60px);
      z-index: 1;
      font-size: 20px;
    }
  }
  // 招聘列表
  .job-section {
    padding: 45px 0;
    .search-form {
      display: flex;
      position: relative;
      .search-icon {
        position: absolute;
        width: 24px;
        height: auto;
        // left: calc(5% + 240px);
        top: 34px;
        right: 370px;
        cursor: pointer;
      }
      input {
        flex: 1;
        border: none;
        outline: none;
        background: #f7f9fa;
        padding-left: 5%;
        font-size: 16px;
      }
      .search-tab {
        background: #f7f9fa;
        text-align: center;
        width: 175px;
        font-size: 21px;
        font-weight: 400;
        color: #212121;
        line-height: 32px;
        padding: 28px 0;
        cursor: pointer;
        border-left: 1px solid #eeeeee;
        &.active {
          color: #ffffff;
          background: #003ce7;
          border: none;
        }
      }
    }
    .table-wrap {
      padding-top: 40px;
      .table-header {
        font-size: 21px;
        font-weight: 400;
        color: #212121;
        line-height: 32px;
        padding: 32px 0;
        margin: 0;
        border-bottom: 1px #cccccc solid;
        .col-3 {
          padding: 0 3% 0 5%;
          &:last-child {
            padding-right: 0;
          }
          span {
            display: inline-block;
            width: 100%;
            border-right: 1px solid #eeeeee;
          }
        }
      }
      .table-content {
        margin: 0;
        .col-3 {
          padding: 20px 0;
          padding-left: 5%;
          p,
          a {
            font-size: 14px;
            font-weight: 400;
            color: #212121;
            line-height: 18px;
          }
          a {
            color: #003ce7;
          }
        }
      }
      .table-pagination {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        color: #212121;
        line-height: 16px;
        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 28px;
          height: 28px;
          border: 1px solid #cccccc;
          margin-right: 12px;
          cursor: pointer;
          &.active {
            color: #003ce7;
          }
          img {
            height: 16px;
            width: auto;
          }
          &.last-page,
          &.next-page {
            .disabled-img {
              display: none !important;
            }
            .enabled-img {
              display: inline-block !important;
            }
            &.disabled {
              .disabled-img {
                display: inline-block !important;
              }
              .enabled-img {
                display: none !important;
              }
            }
          }
        }
        .total {
          font-size: 16px;
          font-weight: 400;
          color: #212121;
          line-height: 16px;
          margin-left: 20px;
        }
      }
    }
  }
  @media (min-width: 1920px) {
    h2.title {
      @include h2-x-large;
      margin-bottom: 20px;
    }
    h3.title {
      @include h3-x-large;
      margin-bottom: 10px;
    }
    .bg-section p {
      top: calc(9vw + 90px);
    }
  }
  @media (max-width: 1199px) {
    h2.title {
      @include h2-mid;
      margin-bottom: 20px;
    }
    h3.title {
      @include h3-mid;
      margin-bottom: 10px;
    }
    .bg-section {
      overflow-x: hidden;
      h2 {
        top: 100px;
        font-size: 28px;
      }
      p {
        top: 140px;
        font-size: 18px;
      }
      img {
        width: 150%;
        height: auto;
        margin-left: -25%;
      }
    }
  }
  @media (max-width: 767px) {
    p {
      font-size: 18px;
    }
    .job-section .search-form {
      .search-icon {
        top: 14px;
        right: 220px;
      }
      input {
        font-size: 16px;
        padding-left: 7%;
      }
      .search-tab {
        padding: 8px 0;
        font-size: 16px;
        width: 100px;
      }
    }
  }
  @media (max-width: 500px) {
    h2.title {
      @include h2-small;
      margin-bottom: 10px;
    }
    h3.title {
      @include h3-small;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
    }
    .bg-section {
      min-height: 150vw;
      h2 {
        // top: 70px;
        top: 8rem;
        font-size: 1.75rem;
      }
      p {
        // top: 100px;
        top: 10rem;
        font-size: 0.875rem;
      }
      img {
        width: 100%;
        height: auto;
        margin-left: 0;
      }
    }
    .job-section {
      .table-wrap {
        .table-header {
          padding: 10px 0;
        }
        .table-content .col-3 p {
          font-size: 12px;
        }
        .table-pagination {
          font-size: 14px;
          .total {
            font-size: 14px;
          }
        }
      }
      .search-form {
        .search-icon {
          top: 14px;
          // left: calc(5% + 172px);
          right: 138px;
          width: 18px;
        }
        input {
          font-size: 0.625rem;
          padding-left: 5%;
        }
        .search-tab {
          padding: 8px 0;
          font-size: 12px;
          width: 64px;
        }
      }
    }
  }
  @media (max-width: 372px) {
    .job-section {
      .search-form {
        .search-icon {
          right: 130px;
          left: auto;
        }
      }
    }
  }
}
